<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="static/styles/8-places.css">
    <link rel="icon" href="static/images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp</h4>
	  <div class="popover">
	    <ul>
            {% for k, v in states.items()|sort(attribute='1.name') %}
	      <li><h2>{{ v.name}}:</h2>
		<ul>
                {% for item in v.cities|sort(attribute='name') %}
		  <li>{{ item.name }}</li>
                {% endfor %}
		</ul>
	      </li>
            {% endfor %}
            </ul>
	  </div>
	</div>
	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp</h4>
	  <div class="popover">
	    <ul>
            {% for k, v in ameny.items()|sort(attribute='1.name') %}
	      <li>{{ v.name }}</li>
            {% endfor %}
	    </ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>
      <section class="places">
	<h1>Places</h1>
        {% for k, v in place.items()|sort(attribute='1.name') %}
	<article>
          <div class="title_box">
            <h2>{{ v.name }}</h2>
	    <div class="price_by_night">${{ v.price_by_night }}</div>
	  </div>
	  <div class="information">
	    <div class="max_guest">{{ v.max_guest }} Guests</div>
            <div class="number_rooms">{{ v.number_rooms }} Bedroom</div>
            <div class="number_bathrooms">{{ v.number_bathrooms }} Bathroom</div>
	  </div>
	  <div class="user">
            <b>Owner:</b> {{ v.user.first_name }} {{ v.user.last_name }}
          </div>
          <div class="description">
          {% autoescape false %}
            {{ v.description }}
          {% endautoescape %}
          </div>
        </article>
        {% endfor %}
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
