<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>{{class_name}}</H1>
        <UL>
        {% for k, v in states.items()|sort(attribute='1.name') %}
            <LI>{{ v.id }}: <B>{{ v.name }}</B>
                <UL>
                {% for item in v.cities|sort(attribute='name') %}
                    <LI>{{ item.id }}: <B>{{ item.name }}</B></LI>
                {% endfor %}
                </UL>
            </LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>
